@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: #9FAFCA;
    padding: 0rem 8rem;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
}
.form-container {
    border-radius: 25px;
    background-color: #FFFFFF;
    padding: 2rem 4rem;
}

input, textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    margin-top: 10px;
    margin-bottom: 25px;
    border: #A1A9A8 2px solid;
    border-radius: 10px;
    resize:vertical;
}

button {
    background-color: #B5D3E7;
    border: #9FAFCA 2px solid;
    border-radius: 10px;
    padding: 1rem;
    font-weight: 700;
}

button:hover {
    background-color: #9FAFCA;
    border: #B5D3E7 2px solid;
}

.centered {
    text-align: center;
}

.error {
    color: #DB1F18;
}

.success {
    color: #027F36;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 25px;
    padding: 10px;
}